/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Phudu&display=swap");

:root {
  --blue: #375da9;
  --yellow: #ffcc01;

  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
}

body {
  background: var(--blue);
  padding: 10px;
  font-family: "Inter", sans-serif;
  /* font-family: 'Phudu', cursive; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 20px);
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Phudu", cursive;
  margin: 0;
  line-height: 1;
}

img {
  max-width: 100%;
}

h1 {
  text-transform: capitalize;
  font-size: 2.8em;
}

h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.pokemon-card {
  width: max-content;
  /* padding: 10px; */
  border: 10px solid var(--yellow);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template:
    "name name name" min-content
    "main-image weight base-stats" min-content
    "main-image height base-stats" min-content
    "main-image types base-stats" min-content
    "main-image held-items base-stats" min-content
    "main-image sprites sprites" 1fr
    / 300px 200px 200px;
  gap: 10px;
}

.sprites > div {
  display: flex;
  align-items: flex-end;
}

.sprites > div > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-name {
  grid-area: name;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 0 10px;
}

.pokemon-img-main {
  grid-area: main-image;
  align-self: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  gap: 10px;
}

/* .pokemon-id {
  grid-area: id;
} */

.pokemon-weight {
  grid-area: weight;
}
.pokemon-height {
  grid-area: height;
}

.sprites {
  grid-area: sprites;
}

.base-stats {
  grid-area: base-stats;
}

.held-items {
  grid-area: held-items;
}

.type-list {
  grid-area: types;
}

.type-list ul li {
  position: relative;
  padding-left: 30px;
  margin: 5px 0;
}

.type-list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 20px;
  bottom: 0;
  border-radius: 50%;
}

.type-list ul li[type="normal"]:before {
  background-color: var(--normal);
}
.type-list ul li[type="fire"]:before {
  background-color: var(--fire);
}
.type-list ul li[type="water"]:before {
  background-color: var(--water);
}
.type-list ul li[type="electric"]:before {
  background-color: var(--electric);
}
.type-list ul li[type="grass"]:before {
  background-color: var(--grass);
}
.type-list ul li[type="ice"]:before {
  background-color: var(--ice);
}
.type-list ul li[type="fighting"]:before {
  background-color: var(--fighting);
}
.type-list ul li[type="poison"]:before {
  background-color: var(--poison);
}
.type-list ul li[type="ground"]:before {
  background-color: var(--ground);
}
.type-list ul li[type="flying"]:before {
  background-color: var(--flying);
}
.type-list ul li[type="psychic"]:before {
  background-color: var(--psychic);
}
.type-list ul li[type="bug"]:before {
  background-color: var(--bug);
}
.type-list ul li[type="rock"]:before {
  background-color: var(--rock);
}
.type-list ul li[type="ghost"]:before {
  background-color: var(--ghost);
}
.type-list ul li[type="dragon"]:before {
  background-color: var(--dragon);
}
.type-list ul li[type="dark"]:before {
  background-color: var(--dark);
}
.type-list ul li[type="steel"]:before {
  background-color: var(--steel);
}
.type-list ul li[type="fairy"]:before {
  background-color: var(--fairy);
}
